/* line 1, ../sass/estilo.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/estilo.scss */
.title {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
