@import "variables";

html, body {
    margin: 0;
    padding: 0;
    background: #F28585;
}

@mixin centrar() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin border-radius() {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 4px double black;
}


.intro {
    h1 {
        color: white;
        font-family: 'Coiny', cursive;
        letter-spacing: 4px;
        margin-top: 50px;
    }

    p {
        @include centrar();
        font-family: 'Merienda', cursive;
        font-size: 18px;
        line-height: 32px;
        border: 4px double black;
        width: 80%;
        height: 100px;
        padding: 15px;
        margin-bottom: 50px;
        background: white;
    }
    
    @include centrar();
}

.pre-lista {
    @include centrar();
    @include border-radius();
    font-family: 'Coiny', cursive;
    font-size: 20px;
    width: 60%;
    margin: auto;
    color: peru;
    background: lightyellow;
}

.lista {
    @include centrar();
    @include border-radius();
    border: 2px solid white;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    height: 160px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
    background: lightpink;

    .item {
        @include centrar();
        width: 100%;
        height: 40px;
    }

    .item.uno { border-bottom: 1px solid white; }
    .item.dos { border-bottom: 1px solid white; }
    .item.tres { border-bottom: 1px solid white; }
    
}